node_modules/
node_modules
bower_components
bower_components/
!src/resources/
/dist
src/*.js
src/*js.map
api/server/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.dll
api/server/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.3/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
api/server/server/bin/Microsoft.AspNet.Identity.Owin.xml
api/server/server/bin/
api/server/packages/
api/server/server/obj/
api/server/api.Service.Impl/bin/
api/server/api.Repository/obj/
api/server/api.Repository/bin/
api/server/api.Repository.Impl/obj/
api/server/api.Repository.Impl/bin/
api/server/api.Service.Impl/obj/
api/server/api.Service/obj/
api/server/api.Service/bin/
api/server/api.Context/obj/
api/server/api.Context/bin/
api/server/api.Common/bin/
api/server/api.Common/obj/
client/resource/theme/defaultPage.js.map
client/src/theme/vendors/
client/src/theme/js/
client/src/theme/images/
